body {
    background-color: black;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    background-color: gray;
    padding: 20px;
    border: 1px solid white;
}